.chat
  .header
    .left-header
      .left-header__title
        グループ名
      %ul.left-header__member
        Member
        %li.member
        risa
        %li.member
        miki
        %le.member
        erian
    .right-header
      .right-header__btn
        Edit


  .messages
    .message
      .upper-message
        .upper-message__user-name
          メンバー
        .upper-message__date
          2017/04/04
      .lower-meesage
        .lower-message__content
          こんにちは



  .form
    %form
      %input.form__message 
      -# placeholder="type amessage" type="text"
      .form__mask
        %label.form__mask__img
          =icon('fa','image',class:'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}